/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    font-family: Montserrat;
    color: white;
    display: block;
}

.top {
    background: url("back.jpg") no-repeat center;
    height: 550px;
    background-size: cover;
}

.menu{
    color: #1abc9c;
    font-family: Montserrat;

}
.menu .logo {
    height: 50px;
    padding: 15px 104px;
    font-size: 20px;
    line-height: 20px;
    width: 300px;
    font-weight: 600;
}

.menu ul{
    float: right;
    margin: -41px 90px;
}
.menu li{
    display: inline-block;
    padding: 0 10px 0 ;
}
.header{
    margin-top: 100px;
    text-align: center;
}

.header h4{
    font-size: 18px;
    font-weight: 400;
    height: 50px;
}
.header h1 {
    letter-spacing: 4px;
    font-size: 80px;
    font-weight: bold;
    height: 110px;
}
.content {
    text-align: center;
    clear: both;
}

.content li {
    width: 30%;
    margin: 1.5%;
}

.content li img {
    width: 100%;
}

.wrapper h1{
    font-weight: 700;
    color: #4a4a4a;
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.wrapper li{
    display: inline-block;
}

.social{
    background-color:  #f2f2f2;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 70px 0 0;
    color: #4a4a4a;
    font-size:  40px;
    text-align: center;
}
.social li{
    display: inline-block;
    text-align: center;
    width: 14%;
}
.footer{
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #2f2f2f;
}

.wrapper {
    width: 1080px;
    margin: 0 auto;
}

/* Ez volt a "trükk"! A div-nek kellett azt mondani, hogy inline-block, nem a p-nek. */
.footer .wrapper > div {
    display: inline-block;
    width: 33%;
    font-weight: bold;
    vertical-align: top;
}

.footer p {
    font-size: 16px;
    text-align: center;
}

